html {
  height: 100%;
}

body {
  font-family:'helvetica neue';
  height: 100%;
  background: #67D5B5;
}

.main {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px
}

img {
  display: block;
  margin: 0 auto;
}

.about, .share {
  color: #6E7783;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.3em;
}

.about a, .share a {
  color: white;
  font-weight: 100;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  display: block;
}

.btn {
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  font-size: 25px;
  padding: 8px 30px;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  color: #6E7783;
}

.btn:hover {
  background: #0ba360;
}

.result-list {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.result li {
  list-style: none;
  padding: 5px;
  font-size: 25px;
  font-weight: 100;

}

span.searchTerm {
  color: red;
  font-size: 30px;
  font-weight: 300;
}

span.artist {
  color: grey;
  font-size: 20px;
  font-weight: 100;
}

a.track {
  color: white;
}
